base/**/*.framework filter=lfs diff=lfs merge=lfs -text
base/**/*.xcframework filter=lfs diff=lfs merge=lfs -text
base/**/*.a filter=lfs diff=lfs merge=lfs -text
base/**/*.bundle filter=lfs diff=lfs merge=lfs -text